<?xml version="1.0"?>
<model>
  <name>hillstar_rigid_arm</name>
  <version>1.0</version>
  <sdf version='1.9'>model.sdf</sdf>

  <author>
   <name>Aabhash Bhandari</name>
  </author>

  <description>
    Hillstar_v2 composed with the rigid_arm_3link attachment
    (hillstar_base + rigid_arm_3link, merged). Spawn this instead of
    `hillstar` to fly with the 3-link rigid manipulator instead of the
    soft gripper. Launched via the 4023_gz_hillstar_rigid_arm airframe
    (PX4_SIM_MODEL=hillstar_rigid_arm), same as `make px4_sitl
    gz_hillstar_rigid_arm`.
  </description>
</model>
